@using CardChequeModule.Models
@{
    ViewBag.Title = "_LinkPartial";
    OCCUSER aUser = (OCCUSER)Session["User"];

}

@{
   
     @*if (aUser.TYPE == 1)
    {
        <li class="sub-menu">

            <a href=@Url.Action("Index", "Home", new { area = "Admin" }, null)>
                <i class="fa fa-dashboard"></i>
                <span>Create New User</span>
            </a>

        </li>     
        <li class="sub-menu">
            <a href=@Url.Action("Index", "Home", new { area = "CardCheque" }, null)>
                <i class="fa fa-cogs"></i>
                <span>Report</span>
            </a>

        </li>
        <li class="sub-menu">
            <a href=@Url.Action("Index", "Home", new { area = "CardCheque" }, null)>
                <i class="fa fa-cogs"></i>
                <span>List of Authorized Transaction</span>
            </a>

        </li>
        <li class="sub-menu">
            <a href=@Url.Action("DepositShow", "Home", new { area = "CardCheque" }, null)>
                <i class="fa fa-file"></i>
                <span>List of Deposits</span>
            </a>

        </li>

    }

    else if (aUser.TYPE == 2)
    {
        <li class="sub-menu">

            <a href=@Url.Action("Index", "Home", new { area = "Authorizer" }, null)>
                <i class="fa fa-dashboard"></i>
                <span>List Of Deposit</span>
            </a>

        </li>
        <li class="sub-menu">
            <a href=@Url.Action("Index", "Home", new { area = "Authorizer" }, null)>
                <i class="fa fa-cogs"></i>
                <span>Authorized Transaction</span>
            </a>

        </li>
        <li class="sub-menu">
            <a href=@Url.Action("Index", "Home", new { area = "Authorizer" }, null)>
                <i class="fa fa-file"></i>
                <span>Pending Authorization</span>
            </a>

        </li>
        <li class="sub-menu">
            <a href=@Url.Action("Index", "Home", new { area = "Authorizer" }, null)>
                <i class="fa fa-file"></i>
                <span>Report</span>
            </a>

        </li>
    }
    else if (aUser.TYPE == 3)
    {
        
        <li class="sub-menu">
            <a href=@Url.Action("Index", "Home", new { area = "CardCheque" }, null)>
                <i class="fa fa-cogs"></i>
                <span>Post</span>
            </a>

        </li>        
        <li class="sub-menu">

            <a href=@Url.Action("Index", "Home", new { area = "Admin" }, null)>
                <i class="fa fa-dashboard"></i>
                <span>Report</span>
            </a>

        </li>

    }*@

}


@*<li class="sub-menu">
        <a href=@Url.Action("Index", "Home", new { area = "CardCheque" }, null)>
            <i class="fa fa-cogs"></i>
            <span>Card Cheque</span>
        </a>

    </li>*@