@using System.Web.UI.WebControls
@model CardChequeModule.Models.OCCUSER

@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Log In";
}



<div id="login-page">
    <div class="container">

        <form class="form-login" action="~/Home/LogIn" method="POST" id="logInForm">
            <h2 class="form-login-heading">sign in now</h2>
            <div class="login-wrap">
                @Html.TextBoxFor(model => model.EMPLOYEEID,new {@class="form-control", @placeholder="Employee Id"})
                <br>

                @Html.Password("PASSWORD",null, new { @class = "form-control", @placeholder = "Password" })
                <br/>
                <button class="btn btn-theme btn-block" href="index.html" type="submit"><i class="fa fa-lock"></i> Log In</button>
                <hr>
                @*<div class="alert alert-warning" role="alert">@ViewBag.flag</div>*@
                <p><h3 style="color: red">@ViewBag.flag</h3></p>
               

            </div>

           
            <!-- modal -->

        </form>

    </div>
</div>
@section logInScripts{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript">
        $("#logInForm").validate({
            rules: {
                EMPLOYEEID: {
                    required: true,                    
                },
                PASSWORD: {
                    required: true,
                },               
            }            
        });
    </script>
}